@import "../../../../../variables";

.dialogTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  font-size: 3rem;
}

@include image;

.spaceBetween {
  margin-bottom: 10px;
}

.closeButton {
  align-self: flex-start;
  justify-self: flex-end;
  padding: 15px;
}
