@import "../../../variables";

.box {
  width: 100%;
}

.spinner {
  display: grid;
  justify-content: center;
  margin-top: 7rem;
}

.paper {
  display: flex;
  align-items: center;
  position: sticky;
  top: 5rem;
  z-index: 10;
  margin: 6rem 1rem 0 1rem;
  padding: 5px 5px 5px;
  width: 90%;
}

.container {
  justify-items: center;
  align-items: center;
}

.search {
  padding: 10px;
}
