@import "../../../variables";

.spinner {
  display: grid;
  justify-content: center;
  margin-top: 7rem;
}

.paper {
  display: flex;
  align-items: center;
  position: sticky;
  top: 5rem;
  z-index: 10;
  margin-top: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 90%;
}

.container {
  justify-items: center;
  align-items: center;
}

.search {
  padding: 10px;
}

.textField {
  margin: 10px 10px 10px 0px;
}
