$primary-color: #d1fb9b;
$secondary-color: #32ac6d;

.container {
  justify-content: end;
}

.navbar {
  background: linear-gradient(to right, $secondary-color, $primary-color);
  justify-content: space-between;
}

.stickNavbar {
  position: sticky;
  top: 0;
  z-index: 100;
}
