@use "../../../scss/" as *;

.box {
  margin: 1rem;
  z-index: -1;
}

.sectionOther {
  display: flex;
  flex-wrap: wrap;
  @include aligning;
}

.spinner {
  display: grid;
  justify-content: center;
  margin: 1rem;
}
