.box {
  margin: 1rem;
}

.sectionOther {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: grid;
  justify-content: center;
  margin: 1rem;
}
