.textFields {
    display: flex;
    margin-top: 1rem !important;
}

.select {
    margin-right: 1rem !important;
}

.paper {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.typography {
    margin: 8px !important;
}

.buttons {
    display: flex;
    justify-content: end;
}
